/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) { 
	.container {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);

        .box{
            grid-column: unset !important;
            grid-row: unset !important;
        }
    }

}/*END*/



/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
    
}/*END*/